version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: test_mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: testdb
      MYSQL_USER: testuser
      MYSQL_PASSWORD: testpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./mysql/database.sql:/docker-entrypoint-initdb.d/database.sql
volumes:
  db_data: